server:
  port: 8084
  servlet:
    context-path: "/"

external:
  base:
    url: https://c327-112-134-172-218.ngrok-free.app

spring:
  application :
    name: vdsp
  config:
    import    : optional:file:.env[.properties]

  mail:
    host: smtp.gmail.com
    port: 587
    username: panchalisam20030117@gmail.com
    password: yrov ctey vhdr kyvu
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

  # DB Connectivity
  datasource  :
    url       : ${SPRING_DATASOURCE_URL}
    username  : ${SPRING_DATASOURCE_USERNAME}
    password  : ${SPRING_DATASOURCE_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver

  # JPA and Hibernate Configuration
  jpa:
    hibernate   :
      ddl-auto  : update
    show-sql    : true
    properties  :
      hibernate :
        dialect : org.hibernate.dialect.MySQLDialect
    open-in-view: false

  main:
    allow-circular-references: true

# Error Logging
logging:
  level:
    org:
      springframework:
        security: DEBUG
